@import "reset.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #000;
  overflow: hidden;
}
main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
.box {
  width: 90vw;
  height: 30vh;
  font-size: 8vw;
  letter-spacing: 1vw;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.is-white {
  background: #fff;
  animation: shake 2.2s ease-in reverse infinite;
}
.is-blue {
  background: #0066ff;
  animation: shake 2s ease-in alternate infinite;
}
.is-red {
  background: #ff0000;
  animation: shake 1.8s ease-in infinite;
}
.bg-text {
  color: #fff;
  font-size: 4vw;
  letter-spacing: 1vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: -1;
  opacity: 0;
  animation: blink 3s ease-in infinite;
}

@keyframes shake {
  0%,
  50%,
  100% {
    transform: translate(-5vh, 0) rotate(0);
  }
  25% {
    transform: translate(5vh, 0) rotate(1deg);
  }
  75% {
    transform: translate(5vh, 0) rotate(-1deg);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  47% {
    opacity: 0;
  }
  48% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  58% {
    opacity: 1;
  }
  59% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}




/* EOF */
